body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(-145deg, #138ab923, #22d69125); }

.row .row-item {
  min-height: 440px;
  margin: 15px 0 15px;
  text-align: justify; }
  .row .row-item:hover img {
    transition: ease-in-out 0.3s;
    transform: scale(1.009);
    box-shadow: 10px 10px 10px #887f7fa4, -6px -6px 10px #887f7fa4; }

.row .graphic-suite {
  margin-top: 8%;
  text-align: center; }

.row .subtitle-a {
  font-size: 20px;
  line-height: 36px; }

.row span.author {
  font-style: italic;
  font-weight: 550;
  padding-left: 30px; }

.topper-item {
  background: linear-gradient(-65deg, #138ab927, #13b97927);
  padding: 20px;
  display: flex; }

.content-box {
  margin: 0; }

.contents {
  margin-bottom: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row.topper-item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.row.topper-item .first-work {
  max-width: 33%; }

.row.topper-item .graphic-suite {
  width: 57%; }

@media screen and (max-width: 992px) {
  .row .row-item {
    min-height: 450px; }
  .row.topper-item .graphic-suite {
    width: 500px; }
  .row .graphic-suite {
    margin-top: 0; } }

@media screen and (max-width: 576px) {
  .row .row-item {
    min-height: fit-content; }
  .topper-item {
    display: block;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .ft-ads-list {
    display: flex; }
  .ft-copyright-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .row.topper-item .graphic-suite {
    width: 300px;
    margin: 0 auto; }
  .row.topper-item .first-work {
    max-width: 100%; } }
